/* Styles for the heading */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
    background-color: rgb(173, 245, 245);
  padding: 20px;
  box-sizing: border-box;
  }
  .app{
    border: 1px solid #161309;
    border-radius: 2%;
    background-color: #b0ffb4;
  }

h2 {
    color: #23c92c;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styles for the password output */
  .password-output {
    background-color: #f9f9f9;
    border: 1px solid #9b7e7e;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Styles for the clipboard */
  .clipboard {
    background-color: #dfffa4;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Styles for the password length input */
  .password-length {
    margin-bottom: 10px;
  }
  
  /* Styles for the checkbox inputs */
  .checkbox-label {
    margin-right: 10px;
  }
  
  /* Styles for the generate button */
  .generate-button {
    background-color: #23c92c;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for the generate button */
  .generate-button:hover {
    background-color: #555;
  }
  